.footer {
    background-color:#2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    }
    
    .footer__conteiner {
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    }

    .adaptation {
        @media screen and (min-width: 767.98px) and (max-width: 1199.98px){
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: space-around;
        }
        @media screen and (min-width: 1200px){
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: baseline;
        }
        }
    
    .footer-logo-studio { 
    font-family: 'Raleway';
    font-style: normal;
    color: #FFFFFF;
    }
    
    .logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    }
    
    .contact__list {
    margin-top: 20px;
    }
    
    .footer-soc-list {
    margin-top: 20px;
    }
    
    .footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
    }
    
    .contacts__address {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.70;
    color: #FFFFFF;
    }
    
    .footer-soc {
    
    margin-top: 12px;
    margin-left: 70px;
    width: 80px;
    height: 206;
        @media screen and (min-width: 768px){
        justify-content: center;
        }
        @media screen and (min-width: 1200px){
            justify-content: flex-start;
            }
    }
    
    .footer__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0px;
    color: #FFFFFF
    }
    
    .footer-soc__list {
    display: flex;
    }
    
    .footer-soc__item {
    margin-right: 10px;
    }
    
    .footer-soc__link {
    @include flexCenter ();
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: var(--accent-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    }
    
    
    .footer-submit {
    justify-content: flex-start;
    margin-top: 12px;
    margin-left: 193px;
    }
    
    .footer-submit__wrap{
    @include flexCenter ();
    }
    
    .footer-submit__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    color: #FFFFFF;
    outline: transparent;
    &:focus{
        border-color: var(--accent-color);
        }
        
        &::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        }
    }
    
    .footer-submit__form {
    margin-right: 12px;
    }
    
    .footer-submit__btn {
    @include flexCenter ();
    flex-direction: row-reverse;
    font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.90;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    padding: 10px 28px;
    border-radius: 4px;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, 
    &:focus {
    background-color: #188CE8;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    }
    
    .footer-submit__icon {
    margin-left: 10px;
    }